<template>
  <div class="lg:w-7/12 w-full h-96">
    <div class="h-full w-full" id="map" ref="map"></div>
    <form @submit.prevent="submit">
      <div class="flex flex-col gap-2">
      <input v-model="form.lat" type="text"/>
      <input v-model="form.lng" type="text"/>
      <input v-model="form.title" type="text"/>
      <input v-model="form.description" type="text"/>
      </div>
      <button type="submit">test</button>
      </form>
  </div>
</template>

<script setup>
import { Loader } from "@googlemaps/js-api-loader";
import { useForm } from "@inertiajs/inertia-vue3";
import { inject, ref } from "vue";

let map = ref(null);
const route = inject('route')

const loader = new Loader({
  apiKey: "",
  version: "weekly",
});
loader.load().then(() => {
  let myLatLng = { lat: 58.24806, lng: 22.50389 };
  map = new google.maps.Map(map.value, {
    zoom: 8,
    center: myLatLng,
  });

  map.addListener("click", (e) => {
    const location = e.latLng.toJSON();
    console.log(location)
    form.lat = location.lat
    form.lng = location.lng
    //addMarker(location, infoWindow, map)
    //addMarker(locationnfoWindow, map)
  });
  map.addListener("center_changed", () => {
    // 3 seconds after the center of the map has changed, pan back to the
    // marker.
    window.setTimeout(() => {
      map.panTo(marker.getPosition());
    }, 3000);
  });
});

const addMarker = (cord,  map) => {
    new.google.maps.Marker({
        position: myLatLng,
        map,
        title: "mm",
    })
};
const submit = () => {
    form.post(route('map.add.marker'))
} 

const form = useForm({
    lat: '',
    lng:'',
    title: '',
    description: ''
})

function setMapOnAll(map) {
  for (let i = 0; i < markers.length; i++) {
    markers[i].setMap(map);
  }
}
</script>
